<div class="container-fluid">
    <h4 id="contact">Contact Me</h4>

    <!-- Contact inputs -->
    <form method="POST" action="https://formspree.io/peakcodes@gmail.com">
      <div>
        {{!-- <h4 class="text-teal">Name:</h4> --}}
        <input type="text" name="name" placeholder="Name" class=" form-control">
      </div>
      <br>
      <div>
        {{!-- <h4 class="text-teal">Email:</h4> --}}
        <input type="text" name="email" placeholder="Email" class=" form-control">
      </div>
      <br>
      <div>
        {{!-- <h4 class="text-teal">Message:</h4> --}}
        <textarea class="full-width form-control" name="message" cols="100" placeholder="Message" rows="5"></textarea>
      </div>
      <input type="hidden" name="_subject" value="from BTC Scrapper" />
      <br>
      <!-- submit button -->

      <b class="text-center"><button class="btn btn-default btn-index">Submit</button></b>
    </form>
    <!-- End of Contact inputs -->

</div> {{! Scroll Spy Div}}
</div> {{! Container-fluid Div}}